{% extends 'Task/index.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Авторизация
{% endblock title %}

{% block auth %}
    <div class="col-12 col-md-8 col-lg-4 mr-auto ml-auto mt-5">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class='btn btn-primary' type="submit">Войти</button>
        </form>
        <hr class="text-muted w-75">
        <div class="text-center">
            <span>Ещё нет аккаунта? <a href="{% url 'reg' %}">Создайте </a></span>
        </div>
    </div>
{% endblock auth %}